.header {
    width: 90%;
    margin: 0 auto;
    display: block;
    .title {
        color: var(--fg-color-dark);
        font-weight: bolder;
        margin: 0 auto;
    }
    input[type="checkbox"] {
        width: 0;
        height: 0;
        display: none;
    }

    label {
        cursor: pointer;
        color: var(--fg-color-dark);
        display: none;
    }
}
